<footer id="footer" class="text-center text-white pt-3">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h1 class="fw-medium text-white py-2">Editorial Taburete</h1>
          </div>
          <div class="col-12 col-sm-6">
            <a href="#">
              <i class="fa-brands fa-linkedin-in fa-2x mx-2 py-4"
               data-bs-container="body"
                data-bs-toggle="tooltip"
                 data-bs-placement="top" title="linkedin" ></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-twitter-square fa-2x mx-2 py-4"
               data-bs-container="body"
                data-bs-toggle="tooltip"
                 data-bs-placement="top" title="twitter"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-facebook-square fa-2x mx-2 py-4"
               data-bs-container="body"
                data-bs-toggle="tooltip"
                 data-bs-placement="top" title="facebook"></i>
            </a>
          </div>
        </div>  
      </div>
    </footer>