<header class="header mb-5">
      <nav class="navbar navbar-expand-lg navbar-light bg fixed-top">
        <div class="container">
          <a class="navbar-brand nav-font" href="#">
            <!-- <img src="images/log2.png" alt="logo" 
             width="110" height="40" 
             class="d-inline-block align-top"> -->
          </a>
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse" 
                  data-bs-target="#navbarNavAltMarkup" 
                  aria-controls="navbarNavAltMarkup"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
              <a class="nav-link active" href="#" data-bs-placement="top">Inicio</a>
              <a class="nav-link active" href="#catalogo">Catálogo</a>
              <a class="nav-link active" href="#servicios">Servicios</a>
              <a class="nav-link active" href="#contacto" data-bs-container="body" data-bs-toggle="modal" data-bs-target="#myModal">Contacto</a>
              <a class="nav-link active" href="#inicia">Inicia Sesión</a>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscador" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
</header>
